.forgot {
     background-image: url('../../Images/LoginBackground.jpg');
     background-size: cover;
     background-position: center;
     display: flex;
     height: 100vh;
     justify-content: center;
     align-items: center;
}

.forgot_card {
     background: transparent;
     backdrop-filter: blur(10px);
     border: 2px solid #000;
     height: 350px;
     width: 400px;
     border-radius: 2%;
     box-shadow: -12px -12px #2e2b2ab4;
     overflow: hidden;
}

.forgot_h2 {
     display: flex;
     font-size: 3rem;
     justify-content: center;
     margin-top: 30px;
}

.error {
     color: red;
}

.message {
     color: green;
}

.error, .message {
     display: flex;
     justify-content: center;
     margin-top: 7px;
}

.inputBox {
     margin: 0 25px 0 10px;
     cursor: default;
}

.input {
     width: 100%;
     padding: 8px;
     border: none;
     border-radius: 3px;
}

.input::placeholder {
     color: #000;
}

.reset_btn {
     width: 350px;
     margin: 22px 8px 0px 23px;
     padding: 5px 0px;
     outline: none;
     border: none;
     border-radius: 3px;
}

.reset_btn:hover {
     background-color: #65A165;
}

.login {
     margin: 10px 0px 0px 178px;
}

.need {
     color: #fff;
     margin: 10px 0px 0px 110px;
}